@charset "UTF-8";

    /* ---------고객센터해더--------- */
    #CustomerMain{width: 1050px; height: 110px; background-color: #3498db;margin: auto;}
    #CustomerMain #CustomerMainbox{height: 100%; display: flex;}
    #CustomerMain #CustomerTitle{color: whitesmoke;width: 30%;display: flex;align-items: center; justify-content: center;font-size: 35px;font-weight: bold;}
    #CustomerMain #CustomerContent{width: 60%;display: flex;align-items: center; justify-content: center;font-size: 22px;font-weight: bold;color: coral;}
    #CustomerMain #CustomerContent input{width: 500px; height: 40px; padding: 0; margin-top: 5px;}
    #CustomerMain #CustomerNum{width: 35%;display: flex;align-items: center; justify-content: center;color: white;font-size: 13px;}
    #CustomerMain #CustomerNum span{font-size: 20px;}
    #CustomerList{width: 1050px; margin: auto;}
    #CustomerList #CustomerListbox{display: flex;font-size: 15px;font-weight: bold;}
    #CustomerList #CustomerListbox a{padding-left: 20px;margin: 10px;}
    #CustomerList #CustomerListbox a:hover {color: coral;}
    /* ---------고객센터해더--------- */
    /* ---------문의하기--------- */
    #VocTitle{width: 1050px;margin: auto;}
    #VocTitlebox{margin: 50px;}
    #VocTitlebox h1{margin: 0;}
    #VocTitlebox span{color: #3498db;}
    #VocWrite{width: 1050px; height: 600px; margin: auto; border: solid 1px rgba(0, 0, 0, 0.2); background-color: rgba(0, 0, 0, 0.05);margin-bottom: 50px;display: flex;flex-direction: column;align-items: center;}
    #VocWritebox{width: 92%; margin: auto;margin-top: 25px;}
    #VocWritetitlebox{width: 100%; height: 50px; display: flex;gap: 7px;margin-bottom: 5px;}
    #VocWritetitlebox select{width: 30%;}
    #VocWritetitlebox input{width: 70%;}
    #VocWritecontentbox{height: 100px;display: flex;flex-direction: column;background-color: aliceblue;}
    #VocWritecontent{width: 100%; display: flex;}
    #VocWritefile{margin-top: 15px;}
    #Vocbutton{width: 25%;height: 70px;margin: 30px;background-color: #3498db;color: white;font-size: 22px;font-weight: 600;border: none;cursor: pointer;}
    /* ---------문의하기--------- */