@charset "UTF-8";
    /* 글씨체 변경 */
    @font-face {
        font-family: 'GmarketSansTTFLight';
		src: url('../../font/GmarketSansTTFLight.ttf') format('truetype');
		font-weight: bold;
    	font-style: normal;
    }

    @font-face {
        font-family: 'GmarketSansTTFBold';
        src: url('../../font/GmarketSansTTFBold.ttf') format('truetype');
        font-weight: bold;
    	font-style: normal;
    }

    p,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    td,
    input[type='button'] {
        font-family: 'GmarketSansTTFLight';
    }

    th {
        font-family: 'GmarketSansTTFBold';
    }

    /* 글씨체 변경 */

    /* section 시작 */
    /* /////////////관리자 네비 시작//////////// */
    * {
        margin: 0;
        padding: 0 auto;
    }

    section {
        display: flex;
        justify-content: center;
    }

    #wrap {
        width: 1050px;

    }

    #admin_nav {
        width: 100%;
    }

    #admin_nav_ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        align-items: center;
        padding: 0;
    }

    .admin_nav_ul_li {
        list-style: none;
        /* font-size: 17px; */
        height: 35px;
        width: 13.455556%;
        /* text-align: center; */
        /* border: 0.0625rem solid; */
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        /* font-family: "G-market-Light";
        font-size: 16px; */
        cursor: pointer !important;
    }



    section h1::before {
        content: "";
        display: block;
        height: 2rem;
        width: 100%;
    }

    /* /////////////관리자 네비 끝//////////// */

    /* //////////////////////공통부분//////////////////// */

    #short_cut,
    #member_management,
    #product_management,
    #event_management,
    #statistics,
    #cs_center,
    #p_management,
    #order_management {
        background-color: rgba(224, 224, 224, 0.42);
        padding-bottom: 2rem;
    }

    h1 {
        margin: 0 0 0 13%;
    }
    
    table {
	    white-space: nowrap;
	}

    /* //////////////////////공통부분//////////////////// */


    /* //////////////////////관리자 마이페이지 시작//////////////////// */
    /* 공통부분 시작 */


    #first_div,
    #second_div,
    #last_div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
    }

    .small_box {
        width: 20.5rem;
        height: 15rem;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .big_box {
        width: 42rem;
        height: 15rem;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }



    .inner_box {
        display: flex;
        border: 0.0625rem solid;
        width: 97%;
        height: 87%;
        margin: 0.5rem;
        border-radius: 0.5rem;
        background-color: white;
        -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
        flex-direction: column;
        justify-content: flex-start;

    }

    .inner_box:hover {
        border: solid 0.1875rem rgb(52, 152, 219);
    }

    .inner_box h2 {
        padding: 0.75rem 0.75rem 0 0.75rem;
    }

    .inner_box p {
        padding: 0.75rem 0.75rem 0 0.75rem;
    }

    .inner_box ul {
        list-style: none;
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .inner_box ul li a {
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .title a {
        text-decoration: none;
        color: black;
    }

    /* 공통부분 끝 */
    /* 시간 시작 */
    #current_wrap{
	    width: 100%;
	    height: 100%;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-evenly;
	    flex-wrap: wrap;
	    align-content: center;
    }
    /* 시간 끝 */
    /* 공지사항 시작 */

    #notice_table {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
    }

    #notice_btn {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        flex-wrap: wrap;
        align-items: stretch;
    }

    #notice_btn input[type=button] {
        background-color: rgb(52, 152, 219);
        color: white;
        padding: 0.5rem 0.25rem;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    #notice_table table {
        width: 80%;
        height: 70%;
    }

    #notice_table table td,
    #notice_table table th {
        text-align: center;
        border-bottom: 1px solid gray;
        height: 1.375rem;
    }

    /* 공지사항 끝 */

    /* 고객센터 시작 */

    #cs_table {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
    }

    #cs_btn {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        flex-wrap: wrap;
        align-items: stretch;
    }

    #cs_btn input[type=button] {
        background-color: rgb(52, 152, 219);
        color: white;
        padding: 0.5rem 0.25rem;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    #cs_table table {
        width: 80%;
        height: 70%;
    }

    #cs_table table td,
    #cs_table table th {
        text-align: center;
        border-bottom: 1px solid gray;
        height: 1.375rem;
    }

    /* 고객센터 끝 */

    /* 매출/통계 시작 */
    #last_div .big_box a{
        text-decoration: none;
        color: black;
    }
    #chart {
        display: flex;
        box-sizing: border-box;
        height: 80%;
        width: 96%;
        margin: 0 2%;
    }

    /* 매출/통계 끝 */

    /* //////////////////////관리자 마이페이지 끝//////////////////// */








    /*     ////////////////회원관리 시작//////////////////        */


    #member_wrap {
        margin: 1%;
        padding: 2%;
        width: 94%;
        background-color: white;
        -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
        box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    }

    #member_management #search_bar {
        /* width: 1300px;*/
        /* width: 84.63541666666667%; */
        height: 3.75rem;
        margin: 0 0.75rem;
        position: relative;
    }

    #member_management #bbs-info {
        display: inline;
        /* font:bold 16px Arial, sans-serif; */
        font: bold 1rem Arial, sans-serif;
        position: absolute;
        top: 20px;
        /* 화면보면서 수정 */
    }

    #member_management #search {
        display: flex;
        justify-content: space-between;
        /*  width: 395px; */
        /* width: 35%; */
        /* 화면보면서 수정(원값:25.71614583333333%) */
        /*  position: relative; */
        float: right;
        padding-top: 10px;
        /* 화면보면서 추가 */
    }
    
     #member_management #gradeUpdateForm {
        display: flex;
	    justify-content: center;
	    /* width: 395px; */
	    /* width: 35%; */
	    /* position: relative; */
	    /* float: right; */
	    padding-top: 10px;
	    align-content: center;
	    flex-wrap: wrap;
	    flex-direction: row;
	    align-items: stretch;
    }

    #member_management select,
    input[type="search"] {
        height: 40px;
        /* padding-left: 10px; */
        padding-left: 2.531645569620253%;
        /* 10/395 */
        /* font: 14px Arial, sans-serif; */
        font: 0.875rem Arial, sans-serif;
        color: gray;
    }


    #member_management input[type="search"] {
        /* width: 215px; */
        width: 54.43037974683544%;
        /* 215/395 */
    }

    #member_management #search_btn {
        display: inline;
        /* position: relative;
        top: 13.5px; */
        cursor: pointer;
        /* 마우스 커서모양을 손모양으로 함 */
    }

    #member_management #search_btn>img {
        /* 추가된 속성 */
        /* width: 62px; */
        width: 98%;
        /* 화면 보면서 수정 */
        height: 40px;
    }

    /* 테이블 관련 CSS */
    #member_management table {
        /* width: 1300px; */
        width: 100%;
        margin: 0 auto;
        border-collapse: collapse;
        /* 이중 테두리를 지움 */
        border-spacing: 0;
        /* 테두리 간의 간격을 없앰 */
    }

    #member_management thead {
        border-top: 2px solid darkgray;
        background-color: lightgray;
    }

    #member_management td,
    #member_management th {
        text-align: center;
        /* padding: 17px 10px; */
        padding: 17px 0.6510416666666667%;
        height: 20px;
        border-bottom: 1px solid gray;
    }

    #member_management .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #member_management tr td:nth-child(3) {
        text-align: center;
    }

    #member_management tbody>tr:not(#member_management tbody > tr:last-child) {
        background-color: #f5f5f5;
    }

    #member_management .notice {
        /*  width: 50px; */
        width: 100%;
        /* 화면보면서 수정(원값:3.846153846153846%) */
        height: 27px;
        border-radius: 15px;
        background-color: #464545;
        /* font: bold 14px Arial, sans-serif; */
        font: bold 0.875rem Arial, sans-serif;
        line-height: 27px;
        color: white;
    }

    #member_management #td-page-nav {
        padding-top: 20px;
        text-align: center;
        border-bottom-width: 0;
    }

    #member_management .page-nav {
        /* width: 35px;*/
        width: 2.692307692307692%;
        height: 35px;
        margin: 0 2px;
        border: 1px solid gray;
        display: inline-block;
        text-align: center;
        line-height: 35px;
    }

    #member_management tbody>tr:hover,
    .page-nav:hover {
        background-color: #ebeaf4;
    }

    #member_management tbody>tr:last-child:hover {
        background-color: white;
    }

    #member_management a {
        text-decoration: none;
        color: black;
    }

    #member_management a:hover {
        text-decoration: underline;
    }

#cancelUpdateForm {
    display: flex;
    justify-content: space-around;
}


    /*     ////////////////회원관리 끝//////////////////        */


    /* /////////////////상품관리 시작//////////////// */

/* ////////////////////// 상품관리 시작 ////////////////////// */


#BorderLine {
	margin: 1%;
    padding: 2%;
    width: 94%;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    background-color: white;
}

#BorderLine a {
	margin: auto;
}


#tb_plist {
	width: 100%;
}

#BorderLine .all_p_list {
    display: flex;
    padding: 0.5rem;
    border: 1px solid gray;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.p_idx{width: 5%;text-align: center;}
.p_img{width: 11%;text-align: center;}
.p_info{width: 22%;text-align: center;}
.p_price{width: 24%;text-align: center;}
.p_quantity{width: 8%;text-align: center;}
.p_period{width: 13%;text-align: center;}
.p_status{width: 17%;text-align: center;}

#non_DCprice {
  text-decoration: line-through;
}

#BorderLine .all_p_list img {
	width: 4rem;
    height: 4rem;
}


#BorderLine .p_status button {
	width: 50px;
	height: 50px;
	background-color: #3498db;
	border: none;
	color: aliceblue;
	font-weight: bold;
	margin-left: 10px;
	cursor: pointer;
}


#BorderLine .SearchProductPrice a:hover {
	text-decoration: none;
}


/* ////////////////////// 상품관리 끝 ////////////////////// */

/* //////////////////////주문 관리 시작/////////////////////// */
	#order_wrap {
	    -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
	    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
	    /* margin: 1rem 13% 0 13%; */
	    background-color: white;
	    margin: 1%;
	    padding: 2%;
	    width: 94%;
	}

    .new_order {
	    /* width: 96%;
	    padding: 2%; */
    }

    .new-menu {
        background-color: white;
        border-radius: 5px;
        margin: 0;
        width: 100%;
        height: 30px;
        display: flex;
        border: 1px solid black;
    }

    .p-1 {
        width: 8%;
        margin: auto 10px;
    }

    .p-2 {
        width: 40%;
    }

    .p-3 {
        width: 13%;
    }

    .p-4 {
        width: 5%;
    }

    .p-5 {
        width: 12%;
    }

    .p-6 {
        width: 20%;
    }

    .p-1 p,
    .p-2 p,
    .p-3 p,
    .p-4 p,
    .p-5 p,
    .p-6 p {
        margin: 0;
        line-height: 30px;
        font-weight: 800;
        font-family: "G-market-Bold";
        text-align: center;
    }

    .new-item {
	    background-color: white;
	    border-radius: 5px;
	    margin: 15px 0;
	    width: 100%;
	    height: 100px;
	    border: 1px solid black;
	    display: flex;
	    flex-direction: row;
	    align-items: center;
	}
	
	.new-sort{
	width: 10%
	}
    .new-img-div {
    width: 10%;
    height: 100%;
    margin: 10px;
    }

	.new-img-div img {
	cursor: pointer;
    width: 94%;
    height: 94%;
    margin: 3%;
	}
    .new-name {
        width: 30%;
    }

    .new-name p {
        margin-right: 5px;
    }

    .new-date {
        width: 13%;
	    text-align: center;
	    font-size: 1rem;
	    line-height: 10px;
	    font-weight: 800;
	    word-wrap: break-word;
	    white-space: pre-wrap;
    }

    .new-name p a {
        text-decoration: none;
        color: black;
    }

    .new-name p a:hover {
        text-decoration: underline;
    }

    .new-date p,
    .new-quantity p,
    .new-price p {
        margin: 0;
    }

    .new-quantity {
        width: 5%;
        text-align: center;
        line-height: 100px;
        font-weight: 800;
    }

    .new-price {
        width: 12%;
        text-align: center;
        line-height: 100px;
        font-weight: 800;
    }

    .new-price p {
        font-family: "G-market-Bold";
    }

    .new-another {
        width: 20%;
        text-align: center;
    }

    .new-another-button {
        width: 80%;
        margin-top: 8px;
        height: 23px;
        border: 0.5px solid gray;
        border-radius: 5px;
        color: white;
        background-color: rgb(52, 152, 219);
        font-weight: 600;
    }

    .new-another-button:hover {
        cursor: pointer;
    }



/* //////////////////////주문 관리 끝/////////////////////// */


    /* /////////////////이벤트 시작//////////////// */

    /* /////////////////이벤트 끝//////////////// */


    /* /////////////////매출/통계 시작//////////////// */

    /* /////////////////매출/통계 끝//////////////// */

    /* /////////////////고객응대 시작//////////////// */

    /* /////////////////고객응대 끝//////////////// */

