@charset "UTF-8";

	@font-face {
        font-family: 'GmarketSansTTFLight';
		src: url('../../font/GmarketSansTTFLight.ttf') format('truetype');
		font-weight: bold;
    	font-style: normal;
    }
    
    @font-face {
        font-family: 'GmarketSansTTFBold';
        src: url('../../font/GmarketSansTTFBold.ttf') format('truetype');
        font-weight: bold;
    	font-style: normal;
    }
    a, p, h1, h2, h3, h4, h5, td{
    	font-family: 'GmarketSansTTFLight';
    }
      
    #section-wrap{
        margin: 0 auto;
        background-color: rgb(224, 224, 224);
        width: 1050px;
        height: 450px;
        /* height: 50px; */
    }
    #section-1{
        margin: 0 auto;
        padding-top: 70px;
    }
    
    #white-board{
        margin: 0 auto;
        width: 500px;
        background-color: white;
        height: 280px;
        border-radius: 15px 15px 15px 15px;
    }
    #white-board-top{
        display: flex;
    }
    #find-id{
        width: 100%;
        text-align: center;
        font-size: 30px;
        font-weight: 800;
        border-radius: 15px 15px 0 0;
        background-color: rgb(52, 152, 219);
        color: white;
    }
    #find-id p{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    #input-id{
        border-bottom: 0;
    }

    
    #white-board-bottom{
        text-align: center;
        margin-top: 30px;

    }
    .find-id-button2{
        width: 200px;
        height: 50px;
        margin: 0 15px;
        background-color: rgb(52, 152, 219);
        font-size: 20px;
        font-weight: 800;
        border: none;
        border-radius: 15px 15px 15px 15px ;
        color: white;
        font-family: 'GmarketSansTTFLight';
    }
    #id-top p:first-child{
        font-size: 20px;
        font-weight: 800;
        display: inline;

    }
    #id-bottom{
        font-size: 30px;
        font-weight: 800;
    }
    input[type="button"]:hover, input[type="submit"]:hover{
        cursor: pointer;
    }
    
    
    
    
    
