@charset "UTF-8";


    
    #section-wrap{
        margin: 0 auto;
        background-color: rgb(224, 224, 224);
        width: 1050px;
        height: 1100px;
        /* height: 50px; */
    }
    #section-1{
        margin: 0 auto;
        
    }
    #section-header{
        padding-top: 50px;
        margin: 0 auto;
        width: 650px;
        display: flex;
        padding-bottom: 20px;
        
    }
    #section-header1{
        width: 75%;
        font-size: 30px;
        font-weight: 800;
    }
    #section-header1 p{
        margin: 0;
    }
    #section-header2{
        display: flex;
    }
    #section-header2 p{
        margin-top: 15px;
        margin-bottom: 0px;
        margin-left: 15px;
        font-weight: 600;
    }
    #section-header2 p:first-child{
        text-decoration: underline;
        color: rgb(52, 152, 219);
    }
    #white-board{
        margin: 0 auto;
        width: 650px;
        background-color: white;
        border-radius: 20px 20px 20px 20px ;
        height: 900px;
    }
    #white-board2{
        margin: 0 auto;
        width: 650px;
        background-color: white;
        border-radius: 20px 20px 20px 20px ;
        height: 900px;
    }
    #white-board-header{
        display: flex;
    }
    #white-board-header2{
        display: flex;
    }
    #white-board-header div:first-child{
        width: 50%;
        height: 70px;
        background-color: rgb(52, 152, 219);
        text-align: center;
        border-radius: 20px 0 0 0;
    }
    #white-board-header div:hover{
        cursor: pointer;
    }
    #white-board-header div p{
        margin: 0;
        line-height: 70px;
        font-size: 30px;
        font-weight: 800;
        color: white;
    }
    #white-board-header div:last-child{
        width: 50%;
        height: 70px;
        background-color: rgb(94, 94, 94);
        text-align: center;
        border-radius: 0 20px 0 0;
    }
    #white-board-header2 div:first-child{
        width: 50%;
        height: 70px;
        background-color: rgb(94, 94, 94);
        text-align: center;
        border-radius: 20px 0 0 0;
    }
    #white-board-header2 div:hover{
        cursor: pointer;
    }
    #white-board-header2 div p{
        margin: 0;
        line-height: 70px;
        font-size: 30px;
        font-weight: 800;
        color: white;
    }
    #white-board-header2 div:last-child{
        width: 50%;
        height: 70px;
        background-color: rgb(52, 152, 219);
        text-align: center;
        border-radius: 0 20px 0 0;
    }
    #check-all{
        padding-left: 50px;
        display: flex;
        border-bottom: 1px solid gray;
    }
    #check-all input{
        width: 25px;
    }
    #check-all input:checked{
        background-color: yellow;
    }
    #check-all p{
        margin-left: 15px;
        font: bold 15px Arial, sans-serif;
    }
    #check-box{
        border-bottom: 1px solid gray;
    }
    #check-box2{
        border-bottom: none;
    }
    .check-box{
        margin-left: 90px;
        display: flex;
    }
    .check-box input{
        margin-right: 15px;
        width: 25px;
    }
    #categorie-header{
        margin: 0 auto;
        width: 300px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 30px;
        font-weight: 800;
        background-color: rgb(52, 152, 219);
        border-radius: 20px 20px 20px 20px;
        color: white;
    }
    #categorie-header2{
        margin: 0 auto;
        text-align: center;
        
    }
    #gray-board{
        margin: 0 auto;
        background-color: rgb(224, 224, 224);
        width: 500px;
        height: 270px;
    }
    .check-categorie{
        display: flex;
    }
    .check-categorie div{
        display: flex;
        width: 50%;
    }
    .check-categorie div:first-child{
        margin-left: 100px;
    }
    .check-categorie div input{
        width: 25px;
        margin-right: 10px;
    }
    #button input{
        margin-top: 20px;
        margin-left: 700px;
        width: 150px;
        height: 50px;
        background-color: rgb(52, 152, 219);
        border: none;
        border-radius: 15px 15px 15px 15px;
        font-size: 25px;
        font-weight: 800;
        color: white;
    }
    #button input:hover{
        cursor: pointer;
    }
    #section-1{
        display: block;
    }
    #section-2{
        display: none;
    }
    .checkbox-design-All{
        accent-color: rgb(52, 152, 219);
    }
    .checkbox-design{
        accent-color: rgb(52, 152, 219);
    }
    .checkbox-design2{
        accent-color: rgb(52, 152, 219);
    }
    #checkAll2{
        accent-color: rgb(52, 152, 219);
    }
    .checkbox-categorie{
        accent-color: rgb(52, 152, 219);
    }

    
