@charset "UTF-8";

		
		
        input[type="text"], select {
            padding: 5px;
            border: none;
            border-radius: 5px;
            margin-right: 10px;
        }
        #EventMall img{
            position: absolute;border: 2px solid black;
        }
        a {
            margin-left: 10px; 
            text-decoration: none; /* 밑줄 제거 */
            color: inherit; /* 현재 색상 유지 */
            transition: color 0.3s; /* 호버 효과 부드럽게 적용 */
        }
        a:hover {
            color: black; /* 호버 시 텍스트 색상을 검은색으로 변경 */
            text-decoration: underline; /* 호버 시 밑줄 추가 */
        }
        #wrap{
            width: 1050px;
            margin: 0px auto;
        }
        #header{
            width: 1100px;
            height: 50px;
            display: flex;
            /* background-color: yellow; */
        }
        #menu{
            width: 50px;
            height: 50px;
            background-position: center;
            text-align: center;
            align-items: center;
        }
        #menu>img{
            width: 40px;
            height: 40px;
        }
        #logo{
            width: 50px;
        }
        #logo>img{
            width: 40px;
            height: 50px;
        }
        #search{
            margin-top: 3px;
            width: 600px;
            height: 40px;
            border: 2px solid #3498db;
            border-radius: 30px;
            display: flex;
            
        }
        #search>select{
            width: 20%;
            height: 40px;
            border: none;
            border-radius: 30px;
        }
        #search>input{
            width: 80%;
            border-radius: 30px;
            outline: none;
            border: none;
        }
        #icon{
            margin-left: 200px;
            width: 200px;
        }
        #icon img{
            width: 40px;
            margin-left: 20px;
        }
        /* 이전header */
        #section-wrap{/* 회색부분 */
        	margin: 0 auto;
            width: 1050px;
            height: 750px;
            background-color: rgb(224, 224, 224);

        }
        #section-1{
            width: 100%;
            padding-top: 70px;
        }
        .white-board{
            width: 800px;
            height: 600px;
            margin: 0 auto;
            background-color: white;
            border-radius: 20px;
            align-items: center;
        }
        #logo2{
            width: 250px;
            margin: 30px auto;
        }
        #logo2>a>img{
            margin-top: 30px;
            width:250px;
        }
        #select{
            margin: auto;
            width: 400px;
            height: 50px;
            display: flex;
        }
        .buyer{
            width: 400px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            background-color: rgb(52, 152, 219);
            border-radius: 20px 20px 0 0;
        }
        .buyer>p{
            margin: 0;
            font-weight: 800;
            font-size: 20px;
            color: white;
        }
        .seller{
            width: 200px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            background-color: gray;
            border-radius: 0 20px 0 0;
        }
        .seller>p{
            margin: 0;
            font-weight: 800;
            font-size: 20px;
        }
        #id,#pw{
            width: 400px;
            height: 40px;
            margin: auto;
        }
        #pw{
            margin-top: 1.5px;
        }
        #text-id,#text-pw{
            margin: 0;
            padding: 0;
            width: 397px;
            height: 40px;
            border: 2px solid lightgray;
            border-radius: 0;
        }
        #text-id{
            border-top: 0.5px solid lightgray;
            border-bottom: 0.5px solid lightgray;
        }
        #text-pw{
            border-top: 0.5px solid lightgray;
        }
        
        #another{
            width: 400px;
            height: 40px;
            display: flex;        
            margin: auto;
        }
        #id-check{
            width: 50%;
            line-height: 40px;
            display: flex;
        }
        #id-check>input{
            width: 18px;
        }
        #id-check>p{
            font-size: 14px;
            margin: 0;
        }
        #id-checkbox{
            accent-color: rgb(52, 152, 219);
        }
        #find-id{
            width: 50%;
            text-align:end;
            line-height: 40px;          
        }
        #find-id>a{
            text-decoration: none;
            color: black;
            font-size: 14px;
            margin: 0;
        }
        #find-id>a:hover{
            text-decoration: underline;
        }
        #question{
            margin: 0px auto;
            width: 400px;
            height: 30px;
            text-align: center;
        }
        #question>a{
            float: right;
            text-decoration: none;
            color: black;
            font-size: 14px;
        }
        #question>a:hover{
            text-decoration: underline;
        }
        #loginbox{
            margin: auto;
            width: 400px;
        }
        #loginbox input:hover{
            cursor: pointer;
        }
        #loginbox>input{
            margin-bottom: 20px;
            width: 400px;
            height: 50px;
            border-radius: 15px;
            font-size: 25px;
            font-weight: 800;
            color: white;
            background-color: rgb(52, 152, 219);
            border: 1px solid lightgray;
        }
        
        #event{
            width: 400px;
            margin: auto;
            text-align: center;
        }
        #event>img{
            width: 400px;
            
        }
        #footer{
            width: 1048px;
            height: 198px;
            margin: auto;
            border: 1px solid black;
            background-color: pink;
        }

