@charset "UTF-8";

    /* 글씨체 변경 */
    @font-face {
        font-family: 'GmarketSansTTFLight';
		src: url('../../font/GmarketSansTTFLight.ttf') format('truetype');
		font-weight: bold;
    	font-style: normal;
    }


    @font-face {
        font-family: 'GmarketSansTTFBold';
        src: url('../../font/GmarketSansTTFBold.ttf') format('truetype');
        font-weight: bold;
    	font-style: normal;
    }

    p,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    td,
    input[type='button'] {
        font-family: 'GmarketSansTTFLight';
    }

    th {
        font-family: 'GmarketSansTTFBold';
    }

/* 글씨체 변경 */

/* section 시작 */
/* 공통 설정 */
#short_cut, #write_frm, #product_management, #order_list, #update_info,
	#p_management, #order_management {
	background-color: rgba(224, 224, 224, 0.42);
	padding-bottom: 2rem;
}

/* /////////////기업회원 네비 시작//////////// */
* {
	margin: 0;
	padding: 0 auto;
}

section {
	display: flex;
	justify-content: center;
}

#wrap {
	width: 1050px;
}

#seller_nav {
	width: 100%;
}

#seller_nav_ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	align-items: center;
	padding: 0;
}

.seller_nav_ul_li {
	list-style: none;
	/* font-size: 17px; */
	height: 35px;
	width: 13.455556%;
	/* text-align: center; */
	/* border: 0.0625rem solid; */
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	cursor: pointer !important;
}

section h1::before {
	content: "";
	display: block;
	height: 2rem;
	width: 100%;
}

/* /////////////기업회원 네비 끝//////////// */

/* //////////////////////기업회원 마이페이지 시작//////////////////// */

/* 공통부분 시작 */
#first_div, #second_div, #last_div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-evenly;
	align-items: center;
}

.small_box {
	width: 20.5rem;
	height: 15rem;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.big_box {
	width: 42rem;
	height: 15rem;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.inner_box {
	display: flex;
	border: 0.0625rem solid;
	width: 97%;
	height: 87%;
	margin: 0.5rem;
	border-radius: 0.5rem;
	background-color: white;
	-webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
	flex-direction: column;
	justify-content: flex-start;
}

.inner_box:hover {
	border: solid 0.1875rem rgb(52, 152, 219);
}

.inner_box h2 {
	padding: 0.75rem 0.75rem 0 0.75rem;
}

.inner_box p {
	padding: 0.75rem 0.75rem 0 0.75rem;
}

.inner_box ul {
	list-style: none;
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.inner_box ul li a {
	text-decoration: none;
	color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.big_box .inner_box ul li a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
/* 공통부분 끝 */

/* 상품등록 시작 */

/* 상품등록 끝 */

/* 주문/배송 시작 */
#first_div .big_box ul {
	list-style: none;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-inline-start: 0;
}



/* 주문/배송 끝 */

/* 상품관리 시작 */

/* 상품관리 끝 */

/* 취소/반품/교환 시작 */

/* 취소/반품/교환 끝 */

/* 고객문의사항 시작 */

/* 고객문의사항 끝 */

/* 매출/통계 시작 */
#last_div .big_box a {
	text-decoration: none;
	color: black;
}

#chart {
	display: flex;
	box-sizing: border-box;
	height: 80%;
	width: 96%;
	margin: 0 2%;
}

/* 매출/통계 끝 */
/* 고객센터 시작 */
    /* 고객센터 시작 */

    #cs_table {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
    }

    #cs_btn {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        flex-wrap: wrap;
        align-items: stretch;
    }

    #cs_btn input[type=button] {
        background-color: rgb(52, 152, 219);
        color: white;
        padding: 0.5rem 0.25rem;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    #cs_table table {
        width: 80%;
        height: 70%;
    }

    #cs_table table td,
    #cs_table table th {
        text-align: center;
        border-bottom: 1px solid gray;
        height: 1.375rem;
    }

    /* 고객센터 끝 */


/* 고객센터 끝 */

/* //////////////////////기업회원 마이페이지 끝//////////////////// */

/*     ////////////////상품등록//////////////////        */

/*     //////////////// wrap 시작 //////////////////        */
h1 {
	margin: 0 0 0 13%;
}

#page_wrap {
	-webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
	margin: 1rem 13% 0 13%;
}

/*     //////////////// wrap 끝 //////////////////        */

/*     ////////////////카테고리 선택 시작//////////////////        */
#search_wrap>input[type=search] {
	width: 16rem;
	height: 2rem;
	border: none;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

#search_wrap>input[type=submit] {
	width: 5rem;
	height: 2rem;
	border: none;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

#input_category {
	/* margin: 0.5rem; */
	height: 1.5rem;
	width: 8.375rem;
	padding: 5px;
	/* border: none; */
	border-radius: 5px;
	border-color: rgb(52, 152, 219);
}

.category_select input[type=button] {
	height: 2rem;
	width: 9.25rem;
	padding: 5px;
	border: solid 0.0625rem;
	border-radius: 5px;
	border-color: rgb(52, 152, 219);
}

.category_select h4, #search_wrap, #input_category {
	margin: 0 0 1.25rem 0;
}

/*     ////////////////카테고리 선택 끝//////////////////        */

/* /////////////////입력양식 시작//////////////// */
#table_wrap {
	/* margin: 0 13%; */
	background-color: white;
}

#table_wrap2 {
	margin: 0 13%;
	background-color: white;
	-webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
}

#table_wrap h2, #table_wrap2 h2 {
	margin: 0 5%;
}

#table_wrap::before, #table_wrap2::before {
	content: "";
	display: block;
	height: 1.5rem;
}

#tb_first, #tb_last {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 2rem 0;
}

td, th {
	/* height: 3.5rem; */
}

.th_left {
	text-align: end;
	width: 10rem;
}

#frm_category {
	margin: 0.5rem;
	height: 2.5rem;
	width: 89.4%;
	padding: 5px;
	border: solid 2px;
	border-color: rgb(52, 152, 219);
	border-radius: 5px;
	background-color: white;
}

.category_fix {
	/* margin: 0.5rem; */
	height: 1.5rem;
	width: 96%;
	padding: 5px;
	/* border: none; */
	border-radius: 5px;
}

td>.category_fix {
	margin: 0.5rem;
	height: 1.5rem;
	width: 96%;
	padding: 5px;
	/* border: none; */
	border-radius: 5px;
}

.input_txt {
	margin: 0.5rem;
	height: 1.5rem;
	width: 87.4%;
	padding: 5px;
	border: solid 2px;
	border-radius: 5px;
	border-color: rgb(52, 152, 219);
}

#detailed_description {
	margin: 0.5rem;
	width: 87.4%;
	height: 10rem;
	padding: 5px;
	border: solid 2px;
	border-radius: 5px;
	resize: none;
	border-color: rgb(52, 152, 219);
}

.input_date {
	margin: 0.5rem;
	height: 1.5rem;
	width: 41.3%;
	padding: 5px;
	border: solid 2px;
	border-radius: 5px;
	border-color: rgb(52, 152, 219);
}

.input_file {
	margin: 0.5rem;
}

.option_one {
	margin: 22.5% 0.5rem;
	height: 1.5rem;
	width: 90%;
	padding: 5px;
	/* border: none; */
	border-radius: 5px;
	border-color: rgb(52, 152, 219);
}

.option_two {
	margin: 0.5rem;
	height: 1.5rem;
	width: 77%;
	padding: 5px;
	/* border: none; */
	border-radius: 5px;
	border-color: rgb(52, 152, 219);
}

.btn_wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-evenly;
	align-items: center;
	margin: 1rem;
}

.btn_wrap>input[type=button] {
	width: 9rem;
	height: 3rem;
	border: 0;
	border-radius: 5px;
	font: bold 1.5rem sans-serif;
}

.btn_left {
	background-color: rgb(224, 224, 224);
	width: 9rem;
	height: 3rem;
	border: 0;
	border-radius: 5px;
	font: bold 1.5rem sans-serif;
}

.btn_right {
	background-color: rgb(52, 152, 219);
	color: white;
	width: 9rem;
	height: 3rem;
	border: 0;
	border-radius: 5px;
	font: bold 1.5rem sans-serif;
}

.btn_wrap::after {
	content: "";
	display: block;
	height: 2rem;
	width: 100%;
}

/* /////////////////입력양식 끝//////////////// */

/* ////////////////////// 상품관리 시작 ////////////////////// */


#BorderLine {
	margin: 1%;
    padding: 2%;
    width: 94%;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    background-color: white;
}

#BorderLine a {
	margin: auto;
}


#tb_plist {
	width: 100%;
}

#BorderLine .all_p_list {
    display: flex;
    padding: 0.5rem;
    border: 1px solid gray;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.p_idx{width: 5%;text-align: center;}
.p_img{width: 11%;text-align: center;}
.p_info{width: 22%;text-align: center;}
.p_price{width: 24%;text-align: center;}
.p_quantity{width: 8%;text-align: center;}
.p_period{width: 13%;text-align: center;}
.p_status{width: 17%;text-align: center;}

#non_DCprice {
  text-decoration: line-through;
}

#BorderLine .all_p_list img {
	width: 4rem;
    height: 4rem;
}


#BorderLine .p_status button {
	width: 50px;
	height: 50px;
	background-color: #3498db;
	border: none;
	color: aliceblue;
	font-weight: bold;
	margin-left: 10px;
	cursor: pointer;
}


#BorderLine .SearchProductPrice a:hover {
	text-decoration: none;
}


/* ////////////////////// 상품관리 끝 ////////////////////// */

/* //////////////////////주문 관리 시작/////////////////////// */
	#order_wrap {
	    -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
	    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
	    /* margin: 1rem 13% 0 13%; */
	    background-color: white;
	    margin: 1%;
	    padding: 2%;
	    width: 94%;
	}

    .new_order {
	    /* width: 96%;
	    padding: 2% */;
    }

.new-menu {
	background-color: white;
	border-radius: 5px;
	margin: 0;
	width: 100%;
	height: 30px;
	display: flex;
	border: 1px solid black;
}

.p-1 {
	width: 8%;
	margin: auto 10px;
}

.p-2 {
	width: 30%;
}

.p-3 {
	width: 13%;
}

.p-4 {
	width: 5%;
}

.p-5 {
	width: 12%;
}

.p-6 {
	width: 30%;
}

.p-1 p, .p-2 p, .p-3 p, .p-4 p, .p-5 p, .p-6 p {
	margin: 0;
	line-height: 30px;
	font-weight: 800;
	font-family: "G-market-Bold";
	text-align: center;
}

.new-item {
	background-color: white;
	border-radius: 5px;
	margin: 15px 0;
	width: 100%;
	height: 130px;
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.new-sort {
	width: 10%
	}
    .new-img-div {
    width: 10%;
    height: 100%;
    margin: 10px;
    }

	.new-img-div img {
	cursor: pointer;
width: 94%;
	height: 94%;
	margin: 3%;
}

.new-name {
	width: 20%;
}

.new-name p {
	margin-right: 5px;
}

.new-date {
	width: 13%;
	text-align: center;
	font-size: 1rem;
	line-height: 10px;
	font-weight: 800;
	word-wrap: break-word;
	white-space: pre-wrap;
	line-height: 1.25rem;
}

.new-name p a {
	text-decoration: none;
	color: black;
}

.new-name p a:hover {
	text-decoration: underline;
}

.new-date p, .new-quantity p, .new-price p {
	margin: 0;
}

.new-quantity {
	width: 5%;
	text-align: center;
	line-height: 100px;
	font-weight: 800;
}

.new-price {
	width: 12%;
	text-align: center;
	line-height: 100px;
	font-weight: 800;
}

.new-price p {
	font-family: "G-market-Bold";
}

.new-another {
	width: 30%;
	text-align: center;
}

.p-6 .order-modify-btn {
	width: 80%;
	/* margin-top: 8px; */
	height: 23px;
	border: 0.5px solid gray;
	border-radius: 5px;
	color: white;
	background-color: rgb(52, 152, 219);
	font-weight: 600;
}

.new-another-button {
	width: 80%;
	margin-top: 8px;
	height: 23px;
	border: 0.5px solid gray;
	border-radius: 5px;
	color: white;
	background-color: rgb(52, 152, 219);
	font-weight: 600;
	font-family: 'GmarketSansTTFLight';
}

.new-another-button:hover {
	cursor: pointer;
}

#parcel_input {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#tracking_number {
	width: 33.5%;
}

#o_status {

}

.order-modify-form {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 3%;
}

.order-modify-form select {
	width: 39%;
}


/* //////////////////////주문 관리 끝/////////////////////// */

/*////////////////////////// 판매자 설정 시작 //////////////////////////*/
#update_info {
	margin: 0 auto;
}

#section-header {
	margin: 0 auto;
	width: 777px;
	display: flex;
}

#section-header1 {
	width: 100%;
}

#section-header1 h1 {
	margin-left: 0;
}

#section-header1 {
	margin: 0;
}

#section-header2 {
	display: flex;
}

#section-header2 p {
	margin-top: 15px;
	margin-bottom: 0px;
	font-weight: 600;
}

#section-header2 p:last-child {
	text-decoration: underline;
	color: rgb(52, 152, 219);
}

#white-board-all {
	-webkit-box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5);
	width: 777px;
	margin: 0 auto;
	margin-top: 16px;
}

#white-board {
	margin: 0 auto;
	width: 777px;
	background-color: white;
	height: auto;
	padding-bottom: 1rem;
}

#white-board2 {
	margin: 0 auto;
	width: 777px;
	background-color: white;
	/* border-radius: 0 0 20px 20px; */
	height: 350px;
}

#white-board-header {
	display: flex;
}

#white-board-header2 {
	display: flex;
}

#white-board-header div:first-child {
	width: 100%;
	height: 70px;
	background-color: white;
	text-align: center;
	border-radius: 20px 20px 0 0;
}

#white-board-header div p {
	margin: 0;
	line-height: 70px;
	font-size: 16px;
	font-weight: bold;
}

.input-text {
	display: flex;
}

.input-text p {
	margin: 0;
}

.input-text1 {
	width: 35%;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
}

.input-text1 p {
	float: right;
	margin-right: 20px;
}

.input-text2 {
	width: 55%;
}

.input-text2 input {
	border: 1px solid black;
	margin: 0;
	padding: 0;
	height: 35px;
	width: 300px;
}

.input-text2 p {
	color: white;
	font-size: 11px;
}

#email {
	width: 200px;
}

#email2 {
	width: 300px;
}

#email-button {
	border: none;
	background-color: rgb(52, 152, 219);
	color: white;
	border-radius: 5px 5px 5px 5px;
	height: 38px;
	width: 94px;
}

#email-button:hover {
	cursor: pointer;
}

#address-button {
	border: none;
	background-color: rgb(52, 152, 219);
	color: white;
	border-radius: 5px 5px 5px 5px;
	height: 36.5px;
	width: 100px;
	margin: auto;
}

#address-button:hover {
	cursor: pointer;
}

#address1 {
	width: 194px;
}

#button {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-evenly;
	align-items: center;
	margin: 1rem;
}

#button input {
	width: 9rem;
	height: 3rem;
	border: 0;
	border-radius: 5px;
	font: bold 1.5rem sans-serif;
}

#button input[type=button] {
	background-color: rgb(224, 224, 224);
}

#button input[type=submit] {
	background-color: rgb(52, 152, 219);
	color: white;
}

#button input:hover {
	cursor: pointer;
}

#account {
	width: 200px;
}

#account_select {
	margin: 0;
	height: 37px;
	width: 95px;
	border-radius: 0;
	border: 1px solid black;
}

/*////////////////////////// 판매자 설정 끝 //////////////////////////*/