<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- *Mappper.xml에서 사용할 별칭 정의 -->
 	<typeAliases>
 		<typeAlias alias="memberVO" type="human.smart.totalMall.vo.MemberVO" />
 		<typeAlias alias="productVO" type="human.smart.totalMall.vo.ProductVO" />
 		
 		
 	</typeAliases>
 
</configuration>