@charset "UTF-8";

    img{cursor: pointer;}
    /* ---------HEADER--------- */
    body{margin: 0;}
    a {margin-left: 10px; text-decoration: none;color: inherit;font-weight: bold;}
    a:hover {color: black;text-decoration: underline;}
    #UserIcon a{margin:0px;}
    #UserIcon a:hover {text-decoration: none;}
    header input[type="text"], header select {padding: 5px;border: none;border-radius: 5px;margin-right: 10px;}
    #ServeMallcoloron{width: 100%; height: 100%; background-color: gray;opacity: 0;z-index: -1;position: fixed;transition: opacity 0.3s;}
    header{width: 100%;margin: auto;}
    #MainLinecolor{width: 100%;height: 100px; background-color: white;position: absolute;z-index:999}
    #MainLine{width: 1050px;margin: auto; display: flex;height: 100px;align-items: center; z-index: 9999;position: relative;}
    #MainLine #CategoryMenu{width: 4%;margin-left: 10px;margin-bottom: -5px;}
    #MainLine #SiteLogo{width: 12%;}
    #MainLine #SearchContainer{width: 50%; margin: auto;margin-left: 30px;}
    #MainLine #SearchLine{width: 610px; height: 40px; background-color: white;border: 2px solid #3498db;border-radius: 30px;display: flex;align-items: center;}
    #MainLine #SearchLine select{width: 20%;border-radius: 30px;}
    #MainLine #SearchLine input[type="text"]{width: 80%;border-radius: 30px; outline: none;}
    #MainLine #SearchLine img{width: 25px;height: 25px;z-index: 10;padding-right: 10px;}
    #MainLine #UserIcon{width: 20%;text-align: end;margin-left: 25px;display: flex; gap:20px;}

    #CategoryBackgroundColor{width: 100%; height: 100%;position: absolute;z-index: -1;}
    #CategoryBackgroundColor2{width: 100%;height: 100%;background-color: gray;z-index: -1;opacity: 0;position: fixed;}
    
    #CategoryLine{width: 1050px; margin: auto;}
    #CategoryLine #Category{width: 1050px; height: 388px;margin: auto; position: absolute;z-index: -1;background-color: white;display: flex;opacity: 0;}
    #CategoryLine #CategoryContainer_Main{width: 17%;display: flex;flex-direction: column;}
    #CategoryLine #CategoryContainer_Main div{width: 100%; height: 100%;background-color: yellowgreen;display: flex;align-items: center;border-bottom: 1px solid green;color: white;font-size: 13px;}
    #CategoryLine #CategoryContainer_Main p{margin: 0;margin-left: 10px;font-weight: bold;text-shadow: 1px 1px 1px rgba(0.2, 0.2, 0.2, 0.2);}
    
    #CategoryLine #CategoryContainer_Serve{width: 80%;height: 100%; border-right: 1px solid gray;}
    #CategoryLine #CategoryContainer_Serve .ServeCategorydisplay{display: none;}
    #CategoryLine #CategoryContainer_Serve img{height: 100%;}
    #CategoryLine #CategoryContainer_Serve .Categorymain-image{transition: transform 0.5s ease-in-out, opacity 0.9s ease-in-out;}
    #CategoryLine #CategoryContainer_Serve .image-container:hover .Categorymain-image {transform: scale(1.5);}
    #CategoryLine #CategoryContainer_Serve .image-container{width: 100%; display: flex;position: relative;overflow: hidden;}
    #CategoryLine #CategoryContainer_Serve .normal-image{width: 100%;}
    #CategoryLine #CategoryContainer_Serve .Categorymain-image{width: 100%;position: absolute;opacity: 0.5;}
    #CategoryLine #CategoryContainer_Serve h1{margin: 0;display: flex;justify-content: center;align-items: center; position: absolute;width: 100%;height: 90%;transition: opacity 0.5s ease-in-out;cursor: pointer;}

    #CategoryLine #CategoryLine_backColor{width: 20%;height: 100%;}
    #CategoryLine #serveMenucontainer{width: 83%;height: 100%;display: flex;flex-direction: column;}
    #CategoryLine #serveMenuimgbox{width: 100%;height: 37px;border: 1px solid gray;border-left: none;}
    #CategoryLine #serveMenuimgbox img{width: 100%; height: 100%;}
    #CategoryLine #serveMenubox{width: 100%;height: 90%;border-right: 1px solid gray;border-bottom: 1px solid gray; display: flex;}

    #NavLine{display: flex;font-size: 16px;height: 30px;width: 1050px;margin: auto;}
    #NavLine #ServiceLine{width: 80%;margin-left: -10px;}
    #NavLine #ServiceLine a{margin: 0;}
    #NavLine #ServiceLine img{margin-left: 10px;}
    #NavLine #LogLine{width: 25%;text-align: end;}

    #SearchMenu {position: fixed;top: 0;right: -450px;height: 100%;transition: right 0.3s ease;z-index: 999999;display: flex;}
    #SearchMenu button{width: 50px; height: 50px;}
    #SearchMenu div{width: 400px;background-color: white;height: 100%;}
    /* ---------HEADER--------- */