<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="human.smart.totalMall.ProductMapper">

	<!-- 하나의 게시글 조회: select -->
	<select id="getProduct" parameterType="string" resultType="productVO">
SELECT * FROM tb_product WHERE category LIKE CONCAT('%', #{category}, '%')
ORDER BY p_idx DESC
LIMIT 20 OFFSET 0;
	</select>
	
	<select id="getProducts" parameterType="searchVO" resultType="productVO">
		<!-- if~else구문, switch구문은 JSTL과 같이 choose-when-otherwise구문을 사용함 -->
		<choose>
			<when test="searchWord != null"><!-- 검색어가 있는 경우  -->
				select * from tbl_board where del_or_not = 1
				<choose>
					<when test="searchField == 'title'"><!-- 검색영역: 제목 -->
						and title like CONCAT('%',#{searchWord},'%')
					</when>
					<when test="searchField == 'content'"><!-- 검색영역: 내용 -->
						and content like CONCAT('%',#{searchWord},'%')
					</when>
					<otherwise><!-- 검색영역: 작성자 -->
						and writer like CONCAT('%',#{searchWord},'%')
					</otherwise>
				</choose>
				 		order by b_idx desc
		                limit #{startIdx}, 10
			</when>
			<otherwise><!-- 검색어가 없는 경우  -->
SELECT * FROM tb_product WHERE category LIKE CONCAT('%',#{category},'%')
ORDER BY p_idx DESC
LIMIT 20 OFFSET 1;
			</otherwise>
		</choose>
	</select>
	
	<!-- 글등록: insert -->
	<insert id="insert" parameterType="ProductVO">
		<!-- if~else구문, switch구문은 JSTL과 같이 choose-when-otherwise구문을 사용함 -->
		<choose>
			<when test="origin_file_name1 != null"><!-- test 조건식에 사용되는 변수: 입력값에서 가져온 변수 -->
				insert into tb_product (m_idx, category, product_name, product_code, brand, summary, detail,start_date,end_date,p_origin_file_name1,p_save_file_name1,price,sales_unit,p_reg_date,p_last_modified_date)
					   values(#{m_idx},#{category}, #{product_name}, #{product_code}, #{brand}, #{summary}, #{detail},#{start_date},#{end_date},#{p_origin_file_name1},#{p_save_file_name1},#{price},#{sales_unit},#{p_reg_date},#{p_last_modified_date})
			</when>
			<otherwise>
				insert into tb_product (m_idx, category, product_name, product_code, brand, summary, detail,start_date,end_date,price,sales_unit,p_reg_date,p_last_modified_date)
					   values(#{m_idx},#{category}, #{product_name}, #{product_code}, #{brand}, #{summary}, #{detail},#{start_date},#{end_date},#{price},#{sales_unit},#{p_reg_date},#{p_last_modified_date})
			</otherwise>
		</choose>
	</insert>
</mapper>