<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="human.smart.totalMall.ProductMapper">
	
	<select id="getProduct" parameterType="_int" resultType="productVO">
		select * from tb_product where p_idx = #{p_idx}
	</select>
	<select id="getProducts" parameterType="string" resultType="productVO">
				SELECT * FROM tb_product WHERE category LIKE #{category}
				ORDER BY p_idx DESC
				LIMIT 20 OFFSET 0
	</select>
	<select id="getProducts2" parameterType="SearchVO" resultType="productVO">
				select * from tb_product
				where summary like CONCAT('%',#{searchWord},'%')
				order by p_idx desc
				limit 0, 5
	</select>
			<!-- 상품등록: insert -->
	<insert id="insert" parameterType="ProductVO">
				insert into tb_product (m_idx, category, product_name, product_code, brand, summary, detail,
										start_date,end_date,origin_file_name1,save_file_name1,
										origin_file_name2,save_file_name2,price,discount_rate,quantity)
					   values(#{m_idx},#{category}, #{product_name}, #{product_code}, #{brand}, #{summary}, #{detail},
					   		#{start_date},#{end_date},#{origin_file_name1},#{save_file_name1},
					   		#{origin_file_name2},#{save_file_name2},#{price},#{discount_rate},#{quantity})
	</insert>
	
	<!-- 장바구니 상품등록: insert -->
	<insert id="cartInsert" parameterType="CartVO">
				insert into tb_cart (c_idx, p_idx, m_idx, c_quantity )
					   values(#{c_idx},#{p_idx}, #{m_idx}, #{c_quantity})
	</insert>
	
	<!-- 장바구니 상품목록 불러오기: select -->
	<select id="getCarts" parameterType="_int" resultType="cartVO">
		select a.c_idx, a.m_idx, a.c_quantity, b.p_idx, b.product_name, b.price, b.discount_rate
		from tb_cart a left outer join tb_product b on a.p_idx = b.p_idx 
		where a.m_idx = #{m_idx}
		
	</select>
	
	<!-- 장바구니 수량 변경하기 -->
	<update id="cartQuantityUpdate" parameterType="CartVO">
		update tb_cart set c_quantity=#{c_quantity}
			where m_idx=#{m_idx}
			and p_idx=#{p_idx}
	</update>
</mapper>