@charset "UTF-8";

    /* ---------상품상세보기--------- */
    #ProductdetailLine{width: 1050px;margin: auto;height: 650px;}
    #ProductdetailLine h3{color: #3498db;}
    #ProductdetailLine #ProductdetailContainer{margin: auto; display: flex;height: 500px;}
    #ProductdetailLine #ProductMainimg{width: 50%;height: 100%; padding: 20px;}
    #ProductdetailLine #ProductMainimg img{cursor: auto;}
    #ProductdetailLine #Productdetail{width: 50%;height: 100%;}
    #ProductdetailLine #ProductContent{height: 90%;}
    #ProductdetailLine #ProductContent h1,#ProductContent h2{margin: 0;}
    #ProductdetailLine #Productpurchase{display: flex;height: 50px;align-items: end;}
    #ProductdetailLine #Productpurchase span{width: 10%;margin-bottom: 10px;}
    #ProductdetailLine #Productpurchase .input-wrapper{width: 15%;height: 40px;}
    #ProductdetailLine #Productpurchase a button{width: 150px; height: 50px; background-color: #3498db;color: white;font-weight: bold;border: none;cursor: pointer;}
    #ProductdetailLine #Productpurchase a{width: 22%;margin-left: 50px;}
    /* ---------상품상세보기--------- */

    /* ---------개수--------- */
    .input-wrapper {display: flex;align-items: center;justify-content: center;width: 200px;}
    .input-wrapper input[type="text"] {text-align: center;width: 30px;}
    .input-wrapper button {width: 20px;height: 20px;font-size: 16px;cursor: pointer;font-size: 10px;}

    /* ---------상품정보--------- */
    #TogetherProductLine{width: 1050px;margin: auto;}
    #TogetherProductLine img{cursor: auto;}
    #TogetherProductLine span{display: flex;}
    #TogetherProductLine span h2{margin: 0px;}
    #TogetherProductLine span h2:first-of-type{margin-right: auto;}
    #TogetherProductLine #TogetherProductcontainer{display: flex;}
    #TogetherProductLine #TogetherProductbox{width: 90%;height: 200px; overflow-x: hidden;position: relative;background-color: white;}
    #TogetherProductLine #TogetherProductbox #a1, #a2, #a3{width: 100%;display: flex;gap: 2%;position: absolute;justify-content: center;transition: margin-left 0.5s;}
    #TogetherProductLine #TogetherProductbox img{width: 23%; height: 200px;}

    /* ---------함께보기--------- */
    #DetailsLine{width: 1050px; margin: auto; border: 3px solid gray;}
    #DetailsBtnLine{display: flex;text-align: center;}
    #DetailsBtnLine .pageColor{width: 25%;height: 50px; cursor: pointer;border-bottom: 1px solid lightyellow;line-height: 50px;font-weight: bold;}
    #DetailsBtnLine .pageColor_on{background-color: gray;}

    /* ---------상세정보--------- */
    #productDetails{display: block;padding: 40px;}
    #productDetails img{width: 100%;cursor: auto;}
    #productDetails ol{padding: 0;}
    #productDetails td, #productDetails li, #productDetails span{font-size: 13px;padding: 5px;}
    #productDetails td, #productDetails ol, #productDetails span{padding-left: 17px;}
    #productReviews{display: none;padding: 40px;}
    #productReviews .rating-button {width: 110px;background-color: #f8f9fa;
    border: 1px solid #dee2e6;color: #495057;padding: 5px 5px;font-size: 13px;
    cursor: pointer;transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    margin-bottom: -8px;font-weight: 700;}
	#productReviews .rating-button:hover {background-color: #ff7f00;border-color: #ff7f00;color: #fff;}
    #productReviews #Reviewsbox{display: flex;}
    #productReviews #Reviewsbox h2{margin: 0px; width: 70%;}
    #productReviews #Reviewsbox select{margin-left: 10px;width: 120px;}
    #customerQuestions{display: none;padding: 40px;}
    #customerQuestions table{width: 100%;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);border-collapse: collapse;margin: 20px auto;border: 3px solid black;}
    #customerQuestions tr{border-bottom: 1px solid #ddd;}
    #customerQuestions tr td:first-child{width: 30%;height: 50px;background-color: #f2f2f2;text-align: center;}
    #customerQuestions textarea{width: 100%; height:400px; border: none;outline:none;resize: none;}
    #customerQuestions #customerbtn{width: 150px;height: 50px; margin: auto;background-color: #3498db;text-align: center;cursor: pointer;}
    #shippingInfo{display: none;}
    #shippingInfo div{padding: 40px;}
    #shippingInfo h3{margin: auto;}
    /* ---------상품정보--------- */