@charset "UTF-8";

    #CategoryPage{width: 1050px;margin: auto;}
    #CategoryServeLine{display: flex;}
    #CategoryServemenuLine{width: 20%;height: 1100px;padding-bottom: 20px;border: 2px solid gray;}
    #CategoryServemenuLine a{padding: 5px;margin:0; display: inline-block;}
    #CategoryServemenuLine p{margin: 0;width: 180px;}
    #CategoryServemenuLine h2{padding: 10px;margin: 0px;}
    #CategoryServemenuLine span{color: purple; font-weight: bold;margin-left: 10px;}

    #CategoryProductLine{width: 85%;display: flex;justify-content: flex-end;}
    #CategoryProductLine #CategoryProductContainer{width: 820px;}
    #CategoryProductLine #CategoryEventbox{height: 320px;background-color: #3498db;display: flex;justify-content: center;align-items: flex-end;}
    #CategoryProductLine #CategoryEvent{position: absolute;padding: 10px;}
    #CategoryProductLine #CategoryEvent button{width: 30px;}
    #CategoryProductLine #CategoryEventbox img{width: 100%;height: 100%;}

    #CategoryProductLine #CategoryProductbox h3{color: deeppink;}
    #CategoryProductLine #CategoryProductbestbox h3{color: blueviolet;}
    #CategoryProductLine .Productmain{display: flex;}
    #CategoryProductLine .CategoryProduct{display: flex;flex-direction: column;width: 20%;align-items: center;padding: 10px;}
    #CategoryProductLine .CategoryProduct img{width: 100px;height:100px}
    #CategoryProductLine .CategoryProduct span{align-self: flex-start; font-weight: bold;}
    #CategoryProductLine .CategoryProduct p{font-weight: bold;}