@charset "UTF-8";
	@font-face {
        font-family: 'GmarketSansTTFLight';
		src: url('../../font/GmarketSansTTFLight.ttf') format('truetype');
		font-weight: bold;
    	font-style: normal;
    }
    
    @font-face {
        font-family: 'GmarketSansTTFBold';
        src: url('../../font/GmarketSansTTFBold.ttf') format('truetype');
        font-weight: bold;
    	font-style: normal;
    }
    @font-face {
        font-family: 'GmarketSansTTFMedium';
        src: url('../../font/GmarketSansTTFMedium.ttf') format('truetype');
        font-weight: bold;
    	font-style: normal;
    }
    span, .list-a, .bold{
    	font-family: 'GmarketSansTTFBold';
    }
    #CategoryProduct{
    	width: 20%;
    }

    
    
    
    #CategoryPage{width: 1050px;margin: auto;}
    #CategoryServeLine{display: flex;}
    #CategoryServemenuLine{width: 20%;height: 1100px;padding-bottom: 20px;border: 0px solid black;border-radius:10px; background-color: rgba(52, 152, 219, 0.2);text-align:center;}
    #CategoryServemenuLine a{font-family:'GmarketSansTTFMedium';padding: 5px;margin:0; display: inline-block;}
    #CategoryServemenuLine p{margin: 0;width: 180px;}
    #CategoryServemenuLine h2{padding: 10px;margin: 0px;}
    #CategoryServemenuLine span{color: rgb(52, 152, 219); font-weight: bold;margin-left: -65px;}

    #CategoryProductLine{width: 85%;display: flex;justify-content: flex-end;}
    #CategoryProductLine #CategoryProductContainer{width: 820px;}
    #CategoryProductLine #CategoryEventbox{height: 320px;background-color: #3498db;display: flex;justify-content: center;align-items: flex-end;}
    #CategoryProductLine #CategoryEvent{position: absolute;padding: 10px;}
    #CategoryProductLine #CategoryEvent button{width: 30px;}
    #CategoryProductLine #CategoryEventbox img{width: 100%;height: 100%;}

    #CategoryProductLine #CategoryProductbox h3{color: deeppink;}
    #CategoryProductLine #CategoryProductbestbox h3{color: blueviolet;}
    #CategoryProductLine .Productmain{display: flex;}
    #CategoryProductLine .CategoryProduct{display: flex;flex-direction: column;width: 144px;align-items: center;padding: 10px;}
    #CategoryProductLine .CategoryProduct img{width: 100px;height:100px}
    #CategoryProductLine .CategoryProduct span{align-self: flex-start; font-weight: bold;}
    #CategoryProductLine .CategoryProduct p{font-weight: bold;}