@charset "UTF-8";

    /* ---------결제페이지--------- */
    #PurchaseLine{width: 1100px; margin: auto;}
    #PurchaseLine #Purchasepage{width: 90%; margin: auto;}
    #PurchaseLine #Purchasepage table{width: 100%;}
    #PurchaseLine #Purchasepage td:first-child {width: 25%;}
    #Purchase{width: 90%; margin: auto;text-align: right;}
    /* ---------결제페이지--------- */
    table{border-collapse: collapse;}
    /* 추가사항 */
    .tr1{
        border-top: 3px solid black;
        height: 40px;
    }
    .tr2{
        border-top: 1px solid lightgray;
        height: 40px;
    }
    .td1{
        text-align: end;
        padding-right: 20px;
        font-size: 17px;
        font-weight: 800;
    }
    .submit-button{
        width: 120px;
        height: 40px;
        border: none;
        background-color: rgb(52, 152, 219);
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
        color: white;
    }
    .submit-button:hover{
        cursor: pointer;
    }
    .modify{
        height: 25px;   
    }
    .request{
        height: 25px;
    }
    .purchase-account1{
        height: 20px;
    }
    .purchase-account2{
        height: 20px;
        height: 25px;
    }
    .payment{
        color: red;
        font-weight: 800;
    }