@charset "UTF-8";

    /* ---------카테고리 페이지--------- */
    #CategoryPage{width: 1050px;margin: auto;}
    #CategoryServeLine{display: flex;}
    #CategoryServemenuLine{width: 20%;height: 1100px;padding-bottom: 20px;border: 2px solid gray;}
    #CategoryServemenuLine a{padding: 5px;margin:0; display: inline-block;}
    #CategoryServemenuLine p{margin: 0;width: 180px;}
    #CategoryServemenuLine h2{padding: 10px;margin: 0px;}
    #CategoryServemenuLine span{color: purple; font-weight: bold;margin-left: 10px;}

    #SearchproductLine{width: 85%;display: flex;justify-content: flex-end;}
    #SearchproductLine a{margin: auto;}
    #SearchproductLine #SearchproductContaner{width: 820px;}
    #SearchproductLine #Advertisementimg{width: 100%;height: 100px;}
    #SearchproductLine #Searchproductbox{display: flex; padding: 20px; border: 1px solid gray;}
    #SearchproductLine #Searchproductbox .productimg{width: 20%; padding-right: 20px;}
    #SearchproductLine #Searchproductbox img{width: 100%;height: 140px;}
    #SearchproductLine #SearchProduct{width: 60%;}
    #SearchproductLine .SearchProductPrice{width: 20%;display: flex;justify-content: flex-end;}
    #SearchproductLine .SearchProductPrice button{width: 50px; height: 50px;background-color: #3498db;border: none;color: aliceblue;font-weight: bold;margin-left: 10px;cursor: pointer;}
    #SearchproductLine .SearchProductPrice a{margin: 0;}
    #SearchproductLine .SearchProductPrice a:hover {text-decoration: none;}
    span:focus{color: #3498db;}